<html>
  <head>
    <title>ДИАЛЕКТОЛОГИЧЕСКИЙ АТЛАС УДМУРТСКОГО ЯЗЫКА. Онлайн-версия</title>
    <meta charset="utf-8">
    
    <style>
      p {
        font: 16pt/16pt verdana sans-serif;
      }
      .column{
        float: left;
        width: 50%;
      }
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      .document {
        width: 100%;
        height: 100vh;
      }
    </style>
  </head>
  <body>
  <div class="row">
    <div class="column">
      <h1>ДИАЛЕКТОЛОГИЧЕСКИЙ АТЛАС УДМУРТСКОГО ЯЗЫКА. Онлайн-версия</h1>
      <p>
        Диалектологический атлас удмуртского языка (ДАУЯ) представляет собой набор
        карт, отражающих фонетический и семантический облик удмуртских слов, собранных в 175
        опорных населённых пунктах, представляющих все основные диалектные и говорные
        группы удмуртского языка, находящиеся как в Удмуртской Республике, так и за её
        пределами (республики Татарстан, Башкортостан, Мари Эл; Кировская, Пермская,
        Свердловская области. Карты снабжаются подробными фонетическими,
        диалектологическими, культурно-историческими, этимологическими комментариями. Сбор
        материалов для ДАУЯ был начат Р. Ш. Насибуллиным ещё в 1980-х гг., сейчас работа
        осуществляется коллективом Лаборатории лингвистического картографирования и
        исторической лексикографии Удмуртского университета. На сегодняшний день в печатном
        виде издано пять выпусков ДАУЯ и подготовлены 6-й и 7-й выпуски. По данным картотеки
        и предварительным расчётам представляется возможным создать до 4000 карт (до 60-ти
        томов). В перспективе география и тематика работы может быть расширена: реально
        постепенно перейти к подготовке атласа языков Среднего Поволжья и Предуралья и на базе
        ДАУЯ перейти к картографированию этнографических и фольклорных явлений.
        Актуальность, научная и социальная ценность работы определяется, во-первых, тем,
        что удмуртский язык принадлежит к финно-угорской ветви уральской языковой семьи, и на
        протяжении своей длительной предыстории языковые предки удмуртов контактировали с
        носителями разных индоевропейских и алтайских языков. Исследование географического,
        диалектного распространения этих заимствований и древних явлений прафинно-угорского
        происхождения с выяснением их происхождения позволяет реконструировать историю
        региона и нередко по-новому осветить ключевые её проблемы. Во-вторых, диалектное
        членение удмуртского языка тесно сопрягается с культурным, этнографическим
        районированием народа, и составление лингвистических карт с этимологическим
        комментарием является вкладом в этнографическое изучение региона. В-третьих,
        удмуртский язык принадлежит к числу малых языков России и, согласно, например, мнению
        экспертов ЮНЕСКО, относится к числу языков, находящихся под угрозой уничтожения,
        поэтому целью проекта является и спасение и сохранение для науки и грядущих поколений
        сокровищ местных говоров, особенно тех, которым уже сейчас грозит полное исчезновение,
        введение в научный оборот и в реальное языковое употребление богатой удмуртской
        диалектной лексики.
      </p>
      <p>
        Создание ДАУЯ является результатом многолетнего и многоэтапного труда
        коллектива лаборатории, в нём использован международный опыт составления
        диалектологических атласов, в частности, Лингвистического атласа Европы, а также атласов
        финского и карельского языков, диалектологического атласа прибалтийско-финских языков,
        «Диалектологического атласа башкирского языка» и «Атласа татарских народных говоров
        Среднего Поволжья и Приуралья».
      </p>
      <p>
        Работы по созданию языковых диалектологических атласов начались с конца XIX в.
        в Западной Европе, в первую очередь во Франции и Германии. После выхода из печати
        диалектологического атласа французского языка Ж. Жильерона исследование диалектов
        методом лингвистической географии в XX веке стало очень популярным и продуктивным.
        Развитие лингвистической географии заключалось в постепенном изменении объекта и
        способов картографирования. Для романской и немецкой школ лингвогеографии характерно
        картографирование отдельных слов как единичных языковых фактов. В московской школе
        выработаны новые принципы лингвистического картографирования. Отраженное на карте
        диалектное различие понимается как звено языковой системы, конкретный диалектный факт
        – как линия пересечения ряда разнокачественных, общих и частных, диалектных явлений.
        Выдвинут принцип изображения фонетических, грамматических словообразовательных
        явлений на лексически не ограниченном языковом материале.
      </p>
      <p>
        Основные идеи русской лингвогеографии развивались в ходе создания атласов
        разных языков быв. СССР и региональных атласов. В «Атласе украинского языка»
        разработан картографический метод наложения ареалов структурно и генетически
        взаимосвязанных языковых элементов. В «Карпатском диалектологическом атласе»
        разработан метод картографирования семантического микрополя лексемы. В
        «Общеславянском лингвистическом атласе» было выдвинуто понятие диахронического
        тождества как объекта картографирования.
      </p>
      <p>
        Изучение говоров для атласа русского языка началось в 30-х гг. XX в., но было
        прервано в связи с Великой Отечественной войной и возобновилось с середины 40-х гг. Под
        руководством Института русского языка РАН были собраны данные по говорам более 5 тыс.
        населённых пунктов исконно русских поселений. Эта территория разделена на 5 зон, в
        соответствии с которыми было составлено 5 региональных атласов, и на базе этих атласов
        создан сводный атлас.
      </p>
      <p>
        К настоящему времени составлены диалектологические атласы по всем
        национальным языкам Западной Европы. Во многих странах атласное картографирование
        стало государственным делом. В России помимо русского изданы диалектологические
        атласы башкирского, татарского, карельского, якутского и др. языков, но как правило они
        представляют собой далёкие от полноты охвата языкового материала, одно-двухтомные
        издания, карты которых либо не снабжаются комментариями, либо комментарии эти крайне
        лапидарны.
      </p>
      <p>
        На межъязыковом и международном уровне идёт работа над такими
        международными атласами, как «Общекарпатский диалектологический атлас»,
        «Лингвистический атлас Европы», «Общетюркский лингвистический атлас», начальным
        этапом которого является «Диалектологический атлас тюркских языков СССР» и др. В
        2004 г. в Финляндии издан «Лингвистический атлас прибалтийско-финских языков».
        «Общеславянский лингвистический атлас», охватывает все славянские языки и диалекты в
        Европе и имеет первостепенное значение для комплексного сравнительно-исторического и
        синхронно-типологического изучения этих языков. Составители ДАУЯ в работе над
        комментированием карт следуют принципам, выработанным в ходе создания
        «Общеславянского лингвистического атласа».
      </p>
      <p>
        Особое значение для развития европейской лингвистической географии и появления
        ДАУЯ имел проект Лингвистического атласа Европы (далее – ЛАЕ), участником которого с
        1976 г. был Р. Ш. Насибуллин. Первоначально в ЛАЕ предполагалось учитывать данные по
        13 удмуртским опорным пунктам, но, обнаружив, что удмуртский язык представляет на
        общеевропейском лингвистическом ландшафте особый интерес, в 1980 г. комиссия ЛАЕ
        увеличила их число до 21. По второму вопроснику ЛАЕ, содержащему более 2000 вопросов
        по всем уровням языка, среди малых народов России материал был собран только по
        удмуртскому языку. Этот опыт стал большой школой для составителей ДАУЯ и обеспечил
        успешную работу над ним.
      </p>
      <p>
        Создание ДАУЯ является результатом многолетнего и многоэтапного труда
        коллектива лаборатории, в нём использован международный опыт составления
        диалектологических атласов, в частности, Лингвистического атласа Европы, а также атласов
        финского и карельского языков, диалектологического атласа прибалтийско-финских языков,
        «Диалектологического атласа башкирского языка» и «Атласа татарских народных говоров
        Среднего Поволжья и Приуралья».
      </p>
    </div>
    <div class="column">
      <iframe src="Ocoka.pdf" class="document"></iframe>
    </div>
  </div>
  </body>
</html>